header {
    background-color: #fff;
    border-bottom: 1px solid #e72929;
    a {
        color: #af1313;
        &:hover {
            background-color: #e72929;
            color: #fff;
        }
    }
    .content {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        .logo {
            font-weight: bold;
            padding: 1em;
        }
        nav {
            ul {
                list-style: none;
                margin: 0;
                li {
                    a {
                        padding: 1em;
                        display: inline-block;
                    }
                }
            }
        }
    }
}
